.landing {
	text-align: center;
	line-height: 1.3em;
	color: var(--tg-theme-text-color);
}

.intro {}

.greeting {
	margin: 1em 0;
	line-height: 1.3em;
}

.description {
	margin: 1em 0;
}

.confirm {
	font-size: 1em;
	padding: 1em 3em;
	border-radius: 50px;
	transition: 500ms;
	color: var(--primary-text-color);
	background-color: var(--primary-color);
}

.confirm:hover {
	cursor: pointer;
	transform: scale(1.2);
	background-color: var(--dark-primary-color);
}