.loader {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px dotted var(--tg-theme-button-color);
	animation: rotate 3s infinite linear;
}

.loader-wrapper {
	position: absolute;
	/* width: 100vw; */
	/* height: 100vh; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	z-index: 9999999;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}