.tiles {
	width: 100vw;
	height: fit-content;
	overflow: hidden;
	margin: 2em 0 2em;
}

.tiles-item {
	width: 100%;
	height: 40vh;
	margin: auto;
	position: relative;
	transition: 500ms;

	&:hover {
		transform: scale(1.05);
		cursor: pointer;

		& .tiles-overlay {
			top: 0;
			height: 100%;
		}

		& .tiles-label {
			transform: translateY(500%);
		}
	}
}

.tiles-img {
	pointer-events: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 2px 2px 5px black;
}

.tiles-overlay {
	position: absolute;
	top: calc(100% - 1.3em);
	width: 100%;
	height: fit-content;
	padding: 0.2em 0;
	background-color: rgba(41, 41, 41, 0.7);
	transition: 250ms ease-out;
	pointer-events: none;
}

.tiles-label {
	text-align: center;
	font-weight: 600;
	color: var(--tg-theme-text-color);
	transition: 250ms ease-out;
	pointer-events: none;
}

@media (min-width: 425px) {
	.tiles-item:hover .tiles-label {
		transform: translateY(600%);

	}
}

/* 
@media (min-width: 481px) {
	.tiles-img {
		width: 35vw;
		max-width: 200px;
	}
} */

/* @media (min-width: 640px) {
	.tiles {
		padding: 10px 10% 10px;
	}
} */

/* @media (min-width: 769px) {
	.tiles-img {
		width: 170px;
	}
}

@media (min-width: 1440px) {
	.tiles {
		padding: 10px 20vw 10px;
	}
} */