.recipe-form {
	margin-top: 2em;
}

.recipe-field {
	margin-bottom: 1.5em;
}

.recipe-label, .recipe-input {
	display: block;
}

.recipe-label {
	display: flex;
	align-items: center;
	margin: 0 1em 1em;
	font-size: 1.1em;
	width: 80%;
}

.recipe-input {
	margin: 0 auto;
	padding: 1em;
	width: 80%;
	border: 1px solid;
	border-radius: 0.7em;
	background-color: var(--tg-theme-bg-color);

	&.recipe-input-inline {
		width: 5em;
	}
}

.recipe-input::placeholder {
	color: var(--secondary-text-color);
}

.recipe-dropdown {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 3em;
	padding: 0;
	list-style: none;
	transition: 500ms;

	& > .recipe-type {
		pointer-events: none;
	}

	&:hover {
		height: 30vh;
		overflow: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		& > .recipe-type {
			height: initial;
			padding: 1em;
			pointer-events: all;
			position: relative;
			z-index: 9;
		}
	}

	&:not(:hover):has(.selected) {
		height: fit-content;

		& .recipe-type:not(.selected) {
			display: none;
		}
	}

	/* &::after {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
		} */
}

.recipe-type {
	width: 100%;
	text-align: center;
	transition: 1s;
	padding: 1em;

	&.selected {
		order: -1;

		&::before {
			content: "✓";
			display: inline-block;
			width: 25px;
			margin-left: -25px;
			line-height: 1;
			overflow: visible;
			color: green;
		}
	}

	&:hover {
		background-color: cornflowerblue;
	}
}