.recipe {
	margin-top: 3em;
	color: var(--tg-theme-text-color);
}

.recipe-title {}

.recipe-img {
	margin: 2em auto;
	width: fit-content;
	height: 250px;
	align-items: center;
}

.recipe-img img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 15px;
	background-color: #eee;
}

.recipe-info {
	display: flex;
	position: relative;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em 0.5em;
	border-radius: 5px;
	background-color: #7e7e7e7e;
}

.recipe-info-item {}

.recipe-info-img {
	width: 1em;
	height: 1em;
}

.recipe-subtitle {
	margin: 2em 0 0.5em;
}

.recipe-ingredients {
	max-width: 300px;
}

.recipe-ingredient {
	display: flex;
	padding: 0.3em 0;
}

.ingredient-info {
	flex: 0 1 100%
}

.ingredient-controls {
	display: flex;
	justify-content: space-between;
}

.recipe-cook {}

.recipe-link {}