.header {
	padding: 40px 50px;
	background-color: #212121;
	background-color: var(--tg-theme-secondary-bg-color);
}

.covering {
	font-size: 28;
	font-weight: 600;
	color: #ffffff;
	color: var(--tg-theme-text-color);
}