.header {
	padding: 1em 1.4em 0.5em;
	background-color: var(--tg-theme-secondary-bg-color);
}

.header-row {
	display: flex;
	align-items: center;
}

.covering {
	display: inline-block;
	margin: 0 auto;
	font-size: 2em;
	font-weight: 600;
	color: var(--tg-theme-text-color);
}

.header-user {
	display: flex;
	justify-content: space-between;
}

.ico-btn {
	height: 2em;
	width: 2em;

	&:hover {
		cursor: pointer;
	}
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 99999;
	display: flex;
	justify-content: center;
	background: var(--tg-theme-secondary-bg-color);
}

.navbar-item {
	padding: 1em 0.3em;
	text-align: center;
	transition: 500ms;
}

.navbar-item:hover {
	cursor: pointer;
	background-color: var(--tg-theme-button-color);
}

@media (min-width: 375px) {
	.navbar-item {
		padding: 1em 0.8em;
	}
}

@media (min-width: 480px) {
	.navbar-item {
		padding: 1em 1em;
	}
}

@media (min-width: 769px) {
	.header {
		padding: 1.5em 10% 0.7em;
	}
}