.header {
	display: flex;
	align-items: center;
	padding: 1em 1.4em;
	background-color: #212121;
	background-color: var(--tg-theme-secondary-bg-color);
}

.covering {
	display: inline-block;
	margin: 0 auto;
	font-size: 2em;
	font-weight: 600;
	color: #ffffff;
	color: var(--tg-theme-text-color);
}

.burger {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.5em;
	transition: 800ms ease-in-out;
}

.burger:hover, .sidebar-close:hover {
	cursor: pointer;
}

.burger-line {
	width: 2em;
	height: 0.3em;
	background-color: var(--tg-theme-hint-color);
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: 1s;
	background-color: var(--tg-theme-bg-color);
	background-color: #212121;
	z-index: 9;
}

.sidebar-active {
	transform: translate(100%);
}

/* позиционирование элемента настроить */
.sidebar-close {
	width: 2em;
	height: 2em;
	position: relative;
	margin-left: 87%;
	transition: 800ms ease-in-out;
}

.sidebar-close-line {
	position: absolute;
	top: 50%;
	width: 2em;
	height: 0.3em;
	background-color: aliceblue;

	&:first-of-type {
		transform: rotateZ(-45deg);
	}

	&:last-of-type {
		transform: rotateZ(45deg);
	}
}

.sidebar-link {
	font-size: 1.2em;
	text-align: center;
	padding: 1em;
	transition: 500ms;
	color: var(--tg-theme-text-color);
}

.sidebar-link:hover {
	cursor: pointer;
	background-color: var(--primary-color);
}